.Slide_left{
    animation: test both 2s;
}

@keyframes test {
    0%{
        
    }
    90%{
        transform: translateX(-400px);
    }
    100%{
        opacity: 0;
    }
    
}

.Show{
    animation: Show both 0.9s;
    animation-delay: 0.3s;
}

@keyframes Show {
    0%{
        opacity: 0;
    }
    
}

.W_text{
    animation: WT 1s both;
    display: block !important;
}

@keyframes WT {
    0%{
       opacity: 0;
    }
    100%{
      opacity: 1;
      transform: translateY(20px);
    }   
}

.W_text_hide{
    animation: WT_H 1s both;
}
@keyframes WT_H {
    0%{
        transform: translateY(20px);
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
    
}

.animation{
    animation: 1.5s both Ca;
}

@keyframes Ca {
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    
}

